/* CSS declarations go here */


html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background:#ffffff;
}

h2,h3,h4,h5,h6,a{
  font-family: 'Raleway', sans-serif;
  margin:0;
  font-weight:700;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
}

.btn-submit {
  background-color: #F0E302;
}

.btn-details {
  background-color: #5CAB07;
}

.survey-list {
  background-color: #AFB0AF;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 20px;
}